body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
path,
button {
  cursor: pointer;
}

/* margin for container under Header */
/* set margin top to avoid being covered by Header */
.wrapper {
  /* mt-16 */
  margin-top: 4rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;